# Stockholm house pricing prediction

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np

df = pd.read_csv("data/house_price.csv")
df.head()

,Unnamed: 0,address,final_price,commune,rooms
0,0.0,Markviksvägen 15,6950000,"Hässelby Södra Villastad, Stockholms kommun",5.0
1,1.0,Mälarhöjdsvägen 38,11300000,"Mälarhöjden - Hägersten, Stockholms kommun",5.0
2,2.0,Häradsvägen 202,6200000,"Segeltorp, Huddinge kommun",6.0
3,3.0,Hemmansvägen 18,12700000,"Gamla Enskede, Stockholms kommun",5.0
4,4.0,Alholmsbacken 8,8100000,"Skärholmshöjden., Stockholms kommun",6.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   500 non-null    float64
 1   address      500 non-null    object
 2   final_price  500 non-null    int64
 3   commune      500 non-null    object
 4   rooms        490 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 19.7+ KB

In [5]:
X = df.drop(['final_price', 'commune'], axis=1)
X

     Unnamed: 0              address  rooms
0           0.0     Markviksvägen 15    5.0
1           1.0   Mälarhöjdsvägen 38    5.0
2           2.0      Häradsvägen 202    6.0
3           3.0      Hemmansvägen 18    5.0
4           4.0      Alholmsbacken 8    6.0
..          ...                  ...    ...
495        45.9     Blackensvägen 63    8.0
496        46.9  Sätragårdsvägen 267    NaN
497        47.9        Myntvägen 11B    6.0
498        48.9         Fyndevägen 5    8.0
499        49.9        Skogsvägen 38    5.0

[500 rows x 3 columns]

In [9]:
y = df['final_price']
y

0       6950000
1      11300000
2       6200000
3      12700000
4       8100000
         ...
495    11760000
496     7295000
497    10200000
498    13000000
499    15000000
Name: final_price, Length: 500, dtype: int64