# EDA - Stockholms house prices

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import duckdb as ddb

df = pd.read_csv("data/hemnet_data_clean.csv")
df.head()

,Unnamed: 0,address,asked_price,coordinate,final_price,pourcentage_difference,land_area,area,commune,price_per_area,rooms,sale_date,supplemental_area
0,0.0,Markviksvägen 15,6475000.0,"[59.371685, 17.8250389]",6950000,7.0,635.0,117.0,"Hässelby Södra Villastad, Stockholms kommun",59402.0,5.0,Såld 2022-06-17,44.0
1,1.0,Mälarhöjdsvägen 38,9950000.0,"[59.3008766, 17.9478054]",11300000,14.0,882.0,195.0,"Mälarhöjden - Hägersten, Stockholms kommun",57949.0,5.0,Såld 2022-06-17,22.0
2,2.0,Häradsvägen 202,5795000.0,"[59.27202322587505, 17.954076342308372]",6200000,7.0,1224.0,90.0,"Segeltorp, Huddinge kommun",68889.0,6.0,Såld 2022-06-17,90.0
3,3.0,Hemmansvägen 18,11950000.0,"[59.28390406370304, 18.07625832074728]",12700000,6.0,542.0,110.0,"Gamla Enskede, Stockholms kommun",115455.0,5.0,Såld 2022-06-17,48.0
4,4.0,Alholmsbacken 8,7950000.0,"[59.28134, 17.9009438]",8100000,2.0,690.0,157.0,"Skärholmshöjden., Stockholms kommun",51592.0,6.0,Såld 2022-06-17,0.0

In [2]:
df.head(30)

,Unnamed: 0,address,asked_price,coordinate,final_price,pourcentage_difference,land_area,area,commune,price_per_area,rooms,sale_date,supplemental_area
0,0.0,Markviksvägen 15,6475000.0,"[59.371685, 17.8250389]",6950000,7.0,635.0,117.0,"Hässelby Södra Villastad, Stockholms kommun",59402.0,5.0,Såld 2022-06-17,44.0
1,1.0,Mälarhöjdsvägen 38,9950000.0,"[59.3008766, 17.9478054]",11300000,14.0,882.0,195.0,"Mälarhöjden - Hägersten, Stockholms kommun",57949.0,5.0,Såld 2022-06-17,22.0
2,2.0,Häradsvägen 202,5795000.0,"[59.27202322587505, 17.954076342308372]",6200000,7.0,1224.0,90.0,"Segeltorp, Huddinge kommun",68889.0,6.0,Såld 2022-06-17,90.0
3,3.0,Hemmansvägen 18,11950000.0,"[59.28390406370304, 18.07625832074728]",12700000,6.0,542.0,110.0,"Gamla Enskede, Stockholms kommun",115455.0,5.0,Såld 2022-06-17,48.0
4,4.0,Alholmsbacken 8,7950000.0,"[59.28134, 17.9009438]",8100000,2.0,690.0,157.0,"Skärholmshöjden., Stockholms kommun",51592.0,6.0,Såld 2022-06-17,0.0
5,5.0,Herrgårdsvägen 13,14500000.0,"[59.2924271, 18.06412]",16400000,13.0,529.0,136.0,"Enskede Gård, Stockholms kommun",120588.0,9.0,Såld 2022-06-17,64.0
6,6.0,Skogsslingan 14,5300000.0,"[59.28062, 17.8804951]",4910000,7.0,688.0,140.0,"Johannesdal - Vårberg, Stockholms kommun",35071.0,6.0,Såld 2022-06-17,24.0
7,7.0,Brunflogatan 50,7195000.0,"[59.36239706, 17.8897221448]",7195000,0.0,588.0,114.0,"Vällingby - Råcksta Trädgårdsstad, Stockholms ...",63114.0,7.0,Såld 2022-06-16,65.0
8,8.0,Knektvägen 8,6395000.0,"[59.2293115452725, 18.203405903355126]",6070000,5.0,1530.0,98.0,"Trollbäcken/Hanviken, Tyresö kommun",61939.0,5.0,Såld 2022-06-16,97.0
9,9.0,Vinstavägen 14,7875000.0,"[59.38001357456928, 17.8800077008718]",8500000,8.0,926.0,111.0,"Spånga Solhem, Stockholms kommun",76577.0,6.0,Såld 2022-06-16,59.0
10,10.0,Pliggvägen 2,7500000.0,"[59.2882097685, 18.011664187]",6500000,13.0,599.0,124.0,"Solberga, Stockholms kommun",52419.0,8.0,Såld 2022-06-16,124.0
11,11.0,Ivar Hallströms väg 11,12895000.0,"[59.2978445203, 17.9736842223]",16550000,28.0,610.0,164.0,"Mälarhöjden, Stockholms kommun",100915.0,7.0,Såld 2022-06-16,17.0
12,12.0,Bokvägen 1,7950000.0,"[59.4154167, 17.9572659]",7700000,3.0,689.0,154.0,"Helenelund, Sollentuna kommun",50000.0,5.0,Såld 2022-06-16,6.0
13,13.0,Enebacken 3,13950000.0,"[59.3817610642204, 18.057135417561657]",13750000,1.0,710.0,148.0,"Stocksund, Danderyds kommun",92905.0,6.0,Såld 2022-06-16,25.0
14,14.0,Nyodlingsvägen 11,9900000.0,"[59.41727883290759, 17.96305737891288]",8600000,13.0,1243.0,80.0,"Edsviken, Sollentuna kommun",107500.0,4.0,Såld 2022-06-16,102.0
15,15.0,Vivelvägen 124,6995000.0,"[59.28562, 17.978801699999998]",6995000,0.0,579.0,68.0,"Älvsjö, Stockholms kommun",102868.0,5.0,Såld 2022-06-16,68.0
16,16.0,Enebyvägen 5,8300000.0,"[59.358588768, 17.9092375606]",8250000,1.0,395.0,63.0,"Eneby, Stockholms kommun",130952.0,5.0,Såld 2022-06-15,63.0
17,17.0,Flottiljvägen 5,7900000.0,"[59.400079982, 17.8674542552]",7900000,0.0,802.0,111.0,"Barkarby, Järfälla kommun",71171.0,7.0,Såld 2022-06-15,111.0
18,18.0,Blåklocksvägen 11,8950000.0,"[59.367897, 17.8194847]",9900000,11.0,849.0,169.0,"Hässelby Södra Villastad, Stockholms kommun",58580.0,7.0,Såld 2022-06-15,20.0
19,19.0,Furuvägen 6,7495000.0,"[59.37515234343847, 17.876427573602815]",7495000,0.0,980.0,157.0,"Nälsta, Stockholms kommun",47739.0,5.0,Såld 2022-06-15,7.0
20,20.0,Ängsvägen 53,5500000.0,"[59.2556573165, 17.9790817508]",6165000,12.0,802.0,118.0,"Snättringe, Huddinge kommun",52246.0,5.0,Såld 2022-06-15,0.0
21,21.0,Kummelvägen 42,13500000.0,"[59.32857, 17.9466267]",14000000,4.0,546.0,102.0,"Bromma - Ålsten, Stockholms kommun",137255.0,6.0,Såld 2022-06-15,98.0
22,22.0,Småstuguvägen 21,4495000.0,"[59.3792534, 17.8011532]",5900000,31.0,420.0,135.0,"Hässelby södra villastad, Stockholms kommun",43704.0,5.0,Såld 2022-06-15,3.0
23,23.0,Drottningholmsvägen 556,8750000.0,"[59.33139, 17.92017]",9200000,5.0,475.0,95.0,"Bromma Nockebyhov, Stockholms kommun",96842.0,5.0,Såld 2022-06-15,49.0
24,24.0,Tegnebyvägen 50,6900000.0,"[59.3445053, 17.905344]",8015000,16.0,470.0,85.0,"Bromma - Norra Ängby, Stockholms kommun",94294.0,6.0,Såld 2022-06-15,80.0
25,25.0,Strömkarlsvägen 34,14900000.0,"[59.3198, 17.9722767]",14825000,1.0,265.0,157.0,"Bromma Smedslätten, Stockholms kommun",94427.0,7.0,Såld 2022-06-14,71.0
26,26.0,Vivelvägen 13B,8650000.0,"[59.2749329, 17.9938145]",8650000,0.0,642.0,104.0,"Älvsjö, Stockholms kommun",83173.0,5.0,Såld 2022-06-14,90.0
27,27.0,Tellusvägen 7,8495000.0,"[59.25363, 18.1814461]",8500000,0.0,1075.0,163.0,"Älta - Hedvigslund, Nacka kommun",52147.0,6.0,Såld 2022-06-14,0.0
28,28.0,Norlindsvägen 33,9950000.0,"[59.35501, 17.9141312]",10000000,1.0,662.0,124.0,"Bromma - Bromma Kyrka, Stockholms kommun",80645.0,7.0,Såld 2022-06-14,121.0
29,29.0,Rågångsvägen 17B,11995000.0,"[59.3827830836, 17.9214802968]",11995000,0.0,878.0,219.0,"Spånga - Bromsten, Stockholms kommun",54772.0,8.0,Såld 2022-06-13,82.0

In [3]:
df.columns

Index(['Unnamed: 0', 'address', 'asked_price', 'coordinate', 'final_price',
       'pourcentage_difference', 'land_area', 'area', 'commune',
       'price_per_area', 'rooms', 'sale_date', 'supplemental_area'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              500 non-null    float64
 1   address                 500 non-null    object
 2   asked_price             500 non-null    float64
 3   coordinate              500 non-null    object
 4   final_price             500 non-null    int64
 5   pourcentage_difference  500 non-null    float64
 6   land_area               495 non-null    float64
 7   area                    499 non-null    float64
 8   commune                 500 non-null    object
 9   price_per_area          499 non-null    float64
 10  rooms                   490 non-null    float64
 11  sale_date               500 non-null    object
 12  supplemental_area       500 non-null    float64
dtypes: float64(8), int64(1), object(4)
memory usage: 50.9+ KB

In [6]:
df['final_price'].head(11)

0      6950000
1     11300000
2      6200000
3     12700000
4      8100000
5     16400000
6      4910000
7      7195000
8      6070000
9      8500000
10     6500000
Name: final_price, dtype: int64

In [7]:
df['final_price'].max()

np.int64(31100000)

In [5]:
df['commune'].head(10)

0          Hässelby Södra Villastad, Stockholms kommun
1           Mälarhöjden - Hägersten, Stockholms kommun
2                           Segeltorp, Huddinge kommun
3                     Gamla Enskede, Stockholms kommun
4                  Skärholmshöjden., Stockholms kommun
5                      Enskede Gård, Stockholms kommun
6             Johannesdal - Vårberg, Stockholms kommun
7    Vällingby - Råcksta Trädgårdsstad, Stockholms ...
8                  Trollbäcken/Hanviken, Tyresö kommun
9                     Spånga Solhem, Stockholms kommun
Name: commune, dtype: object

In [4]:
df[['commune', 'asked_price']]

                                         commune  asked_price
0    Hässelby Södra Villastad, Stockholms kommun    6475000.0
1     Mälarhöjden - Hägersten, Stockholms kommun    9950000.0
2                     Segeltorp, Huddinge kommun    5795000.0
3               Gamla Enskede, Stockholms kommun   11950000.0
4            Skärholmshöjden., Stockholms kommun    7950000.0
..                                           ...          ...
495            Älvsjö/Långbro, Stockholms kommun    9500000.0
496                     Sätra, Stockholms kommun    7295000.0
497                      Skälby, Järfälla kommun    9795000.0
498                    Töjnan, Sollentuna kommun   11950000.0
499             Gamla Enskede, Stockholms kommun   12495000.0

[500 rows x 2 columns]

In [3]:
df[['commune', 'final_price']]

                                         commune  final_price
0    Hässelby Södra Villastad, Stockholms kommun      6950000
1     Mälarhöjden - Hägersten, Stockholms kommun     11300000
2                     Segeltorp, Huddinge kommun      6200000
3               Gamla Enskede, Stockholms kommun     12700000
4            Skärholmshöjden., Stockholms kommun      8100000
..                                           ...          ...
495            Älvsjö/Långbro, Stockholms kommun     11760000
496                     Sätra, Stockholms kommun      7295000
497                      Skälby, Järfälla kommun     10200000
498                    Töjnan, Sollentuna kommun     13000000
499             Gamla Enskede, Stockholms kommun     15000000

[500 rows x 2 columns]

In [2]:
asked_price = df['asked_price']
asked_price

0       6475000.0
1       9950000.0
2       5795000.0
3      11950000.0
4       7950000.0
          ...
495     9500000.0
496     7295000.0
497     9795000.0
498    11950000.0
499    12495000.0
Name: asked_price, Length: 500, dtype: float64