# Storytelling of Stockholms house price

In [ ]:
import pandas as pd

df = pd.read_csv("data/hemnet_data_clean.csv")
df

,Unnamed: 0,address,asked_price,coordinate,final_price,pourcentage_difference,land_area,area,commune,price_per_area,rooms,sale_date,supplemental_area
0,0.0,Markviksvägen 15,6475000.0,"[59.371685, 17.8250389]",6950000,7.0,635.0,117.0,"Hässelby Södra Villastad, Stockholms kommun",59402.0,5.0,Såld 2022-06-17,44.0
1,1.0,Mälarhöjdsvägen 38,9950000.0,"[59.3008766, 17.9478054]",11300000,14.0,882.0,195.0,"Mälarhöjden - Hägersten, Stockholms kommun",57949.0,5.0,Såld 2022-06-17,22.0
2,2.0,Häradsvägen 202,5795000.0,"[59.27202322587505, 17.954076342308372]",6200000,7.0,1224.0,90.0,"Segeltorp, Huddinge kommun",68889.0,6.0,Såld 2022-06-17,90.0
3,3.0,Hemmansvägen 18,11950000.0,"[59.28390406370304, 18.07625832074728]",12700000,6.0,542.0,110.0,"Gamla Enskede, Stockholms kommun",115455.0,5.0,Såld 2022-06-17,48.0
4,4.0,Alholmsbacken 8,7950000.0,"[59.28134, 17.9009438]",8100000,2.0,690.0,157.0,"Skärholmshöjden., Stockholms kommun",51592.0,6.0,Såld 2022-06-17,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,45.9,Blackensvägen 63,9500000.0,"[59.2829447557, 17.9931258364]",11760000,24.0,624.0,164.0,"Älvsjö/Långbro, Stockholms kommun",71707.0,8.0,Såld 2022-02-25,70.0
496,46.9,Sätragårdsvägen 267,7295000.0,"[59.28763, 17.9020538]",7295000,0.0,618.0,125.0,"Sätra, Stockholms kommun",58360.0,NaN,Såld 2022-02-25,81.0
497,47.9,Myntvägen 11B,9795000.0,"[59.392398241832566, 17.855415529146335]",10200000,4.0,700.0,172.0,"Skälby, Järfälla kommun",59302.0,6.0,Såld 2022-02-25,36.0
498,48.9,Fyndevägen 5,11950000.0,"[59.4293953737, 17.9294253117]",13000000,9.0,1307.0,174.0,"Töjnan, Sollentuna kommun",74713.0,8.0,Såld 2022-02-24,90.0
499,49.9,Skogsvägen 38,12495000.0,"[59.2792205936, 18.0882936191]",15000000,20.0,691.0,137.0,"Gamla Enskede, Stockholms kommun",109489.0,5.0,Såld 2022-02-24,64.0

In [3]:
df.columns

Index(['Unnamed: 0', 'address', 'asked_price', 'coordinate', 'final_price',
       'pourcentage_difference', 'land_area', 'area', 'commune',
       'price_per_area', 'rooms', 'sale_date', 'supplemental_area'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              500 non-null    float64
 1   address                 500 non-null    object
 2   asked_price             500 non-null    float64
 3   coordinate              500 non-null    object
 4   final_price             500 non-null    int64
 5   pourcentage_difference  500 non-null    float64
 6   land_area               495 non-null    float64
 7   area                    499 non-null    float64
 8   commune                 500 non-null    object
 9   price_per_area          499 non-null    float64
 10  rooms                   490 non-null    float64
 11  sale_date               500 non-null    object
 12  supplemental_area       500 non-null    float64
dtypes: float64(8), int64(1), object(4)
memory usage: 50.9+ KB

In [6]:
df['final_price'].head()

0     6950000
1    11300000
2     6200000
3    12700000
4     8100000
Name: final_price, dtype: int64

In [7]:
df['commune'].head()

0    Hässelby Södra Villastad, Stockholms kommun
1     Mälarhöjden - Hägersten, Stockholms kommun
2                     Segeltorp, Huddinge kommun
3               Gamla Enskede, Stockholms kommun
4            Skärholmshöjden., Stockholms kommun
Name: commune, dtype: object

In [17]:
commune_prices = df[['commune', 'final_price']]
commune_prices.head(30)

                                              commune  final_price
0         Hässelby Södra Villastad, Stockholms kommun      6950000
1          Mälarhöjden - Hägersten, Stockholms kommun     11300000
2                          Segeltorp, Huddinge kommun      6200000
3                    Gamla Enskede, Stockholms kommun     12700000
4                 Skärholmshöjden., Stockholms kommun      8100000
5                     Enskede Gård, Stockholms kommun     16400000
6            Johannesdal - Vårberg, Stockholms kommun      4910000
7   Vällingby - Råcksta Trädgårdsstad, Stockholms ...      7195000
8                 Trollbäcken/Hanviken, Tyresö kommun      6070000
9                    Spånga Solhem, Stockholms kommun      8500000
10                        Solberga, Stockholms kommun      6500000
11                     Mälarhöjden, Stockholms kommun     16550000
12                      Helenelund, Sollentuna kommun      7700000
13                        Stocksund, Danderyds kommun     13750000
14                        Edsviken, Sollentuna kommun      8600000
15                          Älvsjö, Stockholms kommun      6995000
16                           Eneby, Stockholms kommun      8250000
17                          Barkarby, Järfälla kommun      7900000
18        Hässelby Södra Villastad, Stockholms kommun      9900000
19                          Nälsta, Stockholms kommun      7495000
20                        Snättringe, Huddinge kommun      6165000
21                 Bromma - Ålsten, Stockholms kommun     14000000
22        Hässelby södra villastad, Stockholms kommun      5900000
23               Bromma Nockebyhov, Stockholms kommun      9200000
24            Bromma - Norra Ängby, Stockholms kommun      8015000
25              Bromma Smedslätten, Stockholms kommun     14825000
26                          Älvsjö, Stockholms kommun      8650000
27                   Älta - Hedvigslund, Nacka kommun      8500000
28           Bromma - Bromma Kyrka, Stockholms kommun     10000000
29               Spånga - Bromsten, Stockholms kommun     11995000